<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <link rel="stylesheet" href="/app.css">
        <!-- /app.css means search in root directory, while app.css means search in the same directory -->
    </head>
    <body>