<!--include header template-->
<% include partials/header %> 

<h1>This is the home page!!</h1>

<img src="https://i.pinimg.com/736x/9f/22/ef/9f22ef0d8df3b019f81816ca3c5f97e8--kawaii-chibi-drawing-stuff.jpg">
<!--include footer template-->
<% include partials/footer %> 

<!-- partials, serve as a boilerplate for each file we code.-->