doctype html
html
    head
        title KnowledgeBase
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
          a.navbar-brand(href='/') KnowledgeBase
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
              li
                a.nav-link(href='/')
                  | Home 
                  span.sr-only (current)
              li
                a.nav-link(href='/articles/add') Add Article
        br
        
        .container
            !=messages('message', locals)
            if errors
              each error, i in errors
                div(class="alert alert-danger") #{error.message}
            block content
            br
            hr
            footer
                p Copyright &copy; 2017
        script
            | console.log(errors)
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')